.*.un~
.*.swp
.Rhistory
input/
output/*
main.lst
doc/doc.rds
doc/documentation.*
doc/goxygen_pdflatex.log
doc/html/
doc/markdown/
Rplots.pdf
core/input/f_cf.cs3r
core/input/f_dataRegiSolar.cs3r
core/input/f_emiFgas.cs4r
core/input/f_gdp.cs3r
core/input/f_lab.cs3r
core/input/f_macBaseMagpie.cs4r
core/input/f_maxProdGradeRegiHydro.cs3r
core/input/f_maxProdGradeRegiWind.cs3r
core/input/f_pop.cs3r
core/input/f_IO_trade.cs4r
core/input/p_abatparam_CH4.cs4r
core/input/p_abatparam_N2O.cs4r
core/input/p_abatparam_CO2.cs4r
core/input/p_adj_deltacapoffset.cs4r
core/input/p_boundEmi.cs4r
core/input/pm_NuclearConstraint.cs4r
core/input/pm_costsPEtradeMp.cs4r
core/input/pm_dataccs.cs3r
core/input/p_earlyRetirementAdjFactor.cs3r
core/input/p_emiFossilFuelExtr.cs4r
core/input/p_emineg_econometric.cs3r
core/input/p_histCap.cs3r
core/input/p_PE_histCap.cs3r
core/input/p_macBase1990.cs4r
core/input/p_macBase2005.cs4r
core/input/p_macBaseVanv.cs4r
core/input/p_macPolCO2luc.cs4r
core/input/p_regi_2_MAGICC_regions.cs3r
core/input/p_share_ind_fehos.cs4r
core/input/p_share_ind_fesos.cs4r
core/input/p_share_ind_fesos_bio.cs4r
core/input/pm_boundCapCCS.cs4r
core/input/pm_boundCapEV.cs4r
core/input/pm_shPPPMER.cs4r
core/input/p_inco0.cs4r
core/input/p_boundCapCCSindicator.cs4r
core/input/pm_risk_premium.cs4r
core/input/p_histCapFac.cs4r
core/input/f_macBaseExo.cs4r
core/input/f_developmentState.cs3r
core/input/
core/input/core/input/p_NuclearConstraint.cs4r
core/input/core/input/pm_inco0.cs4r
core/input/historical/historical.mif
modules/01_macro/singleSectorGr/input/p01_boundInvMacro.cs4r
modules/04_PE_FE_parameters/iea2014/input/f04_IO_input.cs4r
modules/04_PE_FE_parameters/iea2014/input/f04_IO_output.cs4r
modules/04_PE_FE_parameters/iea2014/input/
modules/11_aerosols/exoGAINS/input/ef_gains.cs4r
modules/11_aerosols/exoGAINS/input/emi_gains.cs4r
modules/11_aerosols/exoGAINS/input/f11_emiAPexo.cs4r
modules/11_aerosols/exoGAINS/input/f11_emiAPexoAgricult.cs4r
modules/11_aerosols/exoGAINS/input/f11_emiAPexoGlob.cs4r
modules/11_aerosols/exoGAINS/input/f11_emiAPexsolve.cs4r
modules/11_aerosols/exoGAINS/input/f11_emiFacAP.cs4r
modules/21_tax/on/input/f21_max_fe_sub.cs4r
modules/21_tax/on/input/f21_max_pe_sub.cs4r
modules/21_tax/on/input/f21_prop_fe_sub.cs4r
modules/21_tax/on/input/f21_tau_fe_sub_bit_st.cs4r
modules/21_tax/on/input/f21_tau_fe_sub_transport.cs4r
modules/21_tax/on/input/f21_tau_fe_tax_bit_st.cs4r
modules/21_tax/on/input/f21_tau_fe_tax_transport.cs4r
modules/21_tax/on/input/f21_tax_convergence.cs4r
modules/21_tax/on/input/p21_tau_fuEx_sub.cs4r
modules/21_tax/on/input/p21_tau_xpres_tax.cs4r
modules/21_tax/on/input/pm_taxCO2eqHist.cs4r
modules/23_capitalMarket/imperfect/input/p23_prtp.cs4r
modules/23_capitalMarket/imperfect/input/pm_ies.cs4r
modules/23_capitalMarket/imperfect/input/pm_nfa_start.cs4r
modules/23_capitalMarket/imperfect/input/pm_risk_premium.cs4r
modules/23_capitalMarket/perfect/input/pm_nfa_start.cs4r
modules/24_trade/standard/input/pm_costsPEtradeMp.cs4r
modules/24_trade/standard/input/pm_costsTradePeFinancial.cs3r
modules/26_agCosts/costs/input/p26_totLUcostLookup.cs4r
modules/26_agCosts/costs/input/p26_macCostLuLookup.cs4r
modules/26_agCosts/costs/input/
modules/26_agCosts/off/input/p26_totLUcostLookup.cs4r
modules/26_agCosts/off/input/p26_macCostLuLookup.cs4r
modules/26_agCosts/off/input/
modules/29_CES_parameters/calibrate/input/p29_capitalQuantity.cs4r
modules/29_CES_parameters/calibrate/input/p29_efficiency_growth.cs4r
modules/29_CES_parameters/calibrate/input/pm_es_demand.cs4r
modules/29_CES_parameters/calibrate/input/pm_fe_demand.cs4r
modules/29_CES_parameters/calibrate/input/p29_cesdata_price.cs4r
modules/29_CES_parameters/calibrate/input/f29_capitalUnitProjections.cs4r
modules/29_CES_parameters/calibrate/input/
modules/30_biomass/magpie_40/input/f30_bioen_price.cs4r
modules/30_biomass/magpie_40/input/p30_bio1stgen.cs3r
modules/30_biomass/magpie_40/input/p30_biolcResidues.cs3r
modules/30_biomass/magpie_40/input/p30_biolcProductionLookup.cs4r
modules/30_biomass/magpie_40/input/
modules/31_fossil/grades2poly/input/f31_costExPoly.cs3r
modules/31_fossil/grades2poly/input/f31_ffPolyCoeffs.cs3r
modules/31_fossil/grades2poly/input/f31_ffPolyCumEx.cs4r
modules/31_fossil/grades2poly/input/f31_ffPolyRent.cs4r
modules/31_fossil/timeDepGrades/input/f31_costExPoly.cs3r
modules/32_power/IntC/input/f32_factorStorage.cs4r
modules/32_power/IntC/input/f32_shCHP.cs4r
modules/32_power/IntC/input/p32_grid_factor.cs4r
modules/32_power/RLDC/input/f32_RLDC_Coeff_LoB.cs3r
modules/32_power/RLDC/input/f32_RLDC_Coeff_Peak.cs3r
modules/32_power/RLDC/input/f32_shCHP.cs4r
modules/32_power/RLDC/input/p32_grid_factor.cs4r
modules/32_power/RLDC/input/
modules/33_CDR/all/input/f33_maxProdGradeRegiWeathering.cs3r
modules/33_CDR/weathering/input/f33_maxProdGradeRegiWeathering.cs3r
modules/35_transport/complex/input/f35_factorVintages.cs3r
modules/35_transport/complex/input/f35_transp_eff.cs3r
modules/35_transport/complex/input/pm_bunker_share_in_nonldv_fe.cs4r
modules/36_buildings/services_putty/input/p36_floorspace_scen.cs4r
modules/36_buildings/services_putty/input/p36_serviceInputs.cs4r
modules/36_buildings/services_putty/input/p36_serviceOutputs.cs4r
modules/36_buildings/services_putty/input/
modules/36_buildings/services_with_capital/input/p36_floorspace_scen.cs4r
modules/36_buildings/services_with_capital/input/p36_serviceInputs.cs4r
modules/36_buildings/services_with_capital/input/p36_serviceOutputs.cs4r
modules/36_buildings/services_with_capital/input/
modules/37_industry/fixed_shares/input/p37_shIndFE.cs3r
modules/40_techpol/NDC2018/input/f40_NDC.cs4r
modules/40_techpol/NDC2018/input/f40_NDC+REN21+CHN_NUC.cs4r
modules/40_techpol/NDC2018/input/f40_REN21.cs4r
modules/40_techpol/NDC2018/input/f40_FE_RenShare.cs4r
modules/40_techpol/NDC2018plus/input/f40_NDC.cs4r
modules/40_techpol/NDC2018plus/input/f40_NDC+REN21+CHN_NUC.cs4r
modules/40_techpol/NDC2018plus/input/f40_REN21.cs4r
modules/40_techpol/NDC2018plus/input/f40_FE_RenShare.cs4r
modules/40_techpol/NPi2018/input/f40_NDC.cs4r
modules/40_techpol/NPi2018/input/f40_NDC+REN21+CHN_NUC.cs4r
modules/40_techpol/NPi2018/input/f40_REN21.cs4r
modules/45_carbonprice/NDC2018/input/p45_2005share_target.cs4r
modules/45_carbonprice/NDC2018/input/p45_factor_targetyear.cs4r
modules/45_carbonprice/NDC2018/input/p45_hist_share.cs4r
modules/70_water/heat/input/CoolingShares_time.cs4r
modules/70_water/heat/input/WaterConsCoef.cs4r
modules/70_water/heat/input/WaterWithCoef.cs4r
modules/80_optimization/nash/input/p80_eoWeights_fix.cs4r
