# .gitignore file for the remind folder.

# !!!
# Remember:
# 1: Patterns listed below are used recursively in the entire git folder
# 2: Use a "!" at the start, to explicitly NOT ignore a pattern
# !!!

# Ignore model lock file
.lock

# Ignore files that end with ".un~", ".swp" or ".pdf"
*.un~
*.swp
*.pdf

# ignore libreoffice lock files
.~*#

# Ignore everything in "input" folders
input/
!input/files
!/scripts/input/

# Ignore everything in root "output" folder
/output/

# Ignore xlsx files in config created by remind2::colorScenConf()
config/scenario_config*_colorful.xlsx
config/*/scenario_config*_colorful.xlsx

# Ignore compare scenario files
compScen-*.pdf
compScen-*.err
compScen-*.out
compScen-*/*

# Ignore everything in "doc" folders, except for 3 specific files
doc/
!doc/literature.bib
!doc/images/MAC_costs.png

# Ignore "main.lst" files
main.lst

# Ignore .RData and log files only in the root folder
/*.RData
/*.log

# ignore magpie subfolder for coupled runs
/magpie/

# ignore .Rhistory files
.Rhistory
last.dump.rda

# ignore all the MAGICC files, should they be present
core/magicc/
!core/magicc/magicc_scen_bau.inc
!core/magicc/magicc_scen_450.inc
!core/magicc/magicc_scen_550.inc

# ignore climate assessment data
scripts/utils/climate_assessment/PYTHONLOG*.out
scripts/utils/climate_assessment/output_climate/

# ignore GDX files in the gdx-files folder
config/gdx-files/*.gdx

# ignore output created by output script plotRuntime.R
plotRuntime*.html
plotRuntimeDependencies/
.Rproj.user
runtime.rds

# main renv.lock should only be commited for releases
/.Rbuildignore

# ignore RStudio project files
/*.Rproj

# Main Python virtual environment
.venv/

# ignore slurm logs
slurm-[0-9]*.log
slurm-[0-9]*.out
calibration_results/

# ignore test logs
tests/test-full*.log
tests/testthat/C_TESTTHAT_startlog_*.txt
