# |  (C) 2006-2024 Potsdam Institute for Climate Impact Research (PIK)
# |  authors, and contributors see CITATION.cff file. This file is part
# |  of REMIND and licensed under AGPL-3.0-or-later. Under Section 7 of
# |  AGPL-3.0, you are granted additional permissions described in the
# |  REMIND License Exception, version 1.0 (see LICENSE file).
# |  Contact: remind@pik-potsdam.de
##################
#### SETTINGS ####
##################

cfg <- list()

#### Main settings ####

# title of the actual run
cfg$title <- "default"

# short description of the run
cfg$description <- "REMIND run with default settings"

# path to the submodel to be used relative to main model folder (e.g."standalone/template.gms")
#cfg$model <- "main.gms"   #def = "main.gms"

#### region settings ####
cfg$regionmapping <- "config/regionmappingH12.csv"

### Additional (optional) region mapping, so that those validation data can be loaded that contain the corresponding additional regions.
cfg$extramappings_historic <- ""

#### Current input data revision (<mainrevision>.<subrevision>) ####
cfg$inputRevision <- "7.57"

#### Current CES parameter and GDX revision (commit hash) ####
cfg$CESandGDXversion <- "346cabc13796db213e2696617074ef45b094ff5f"

#### Force the model to download new input data ####
cfg$force_download <- FALSE

# Should an existing output folder be replaced if a new run with the same name is started?
cfg$force_replace <- FALSE

#### list of repositories containing input data
# defined in your local .Rprofile or on the cluster /p/projects/rd3mod/R/.Rprofile
cfg$repositories <- append(list("https://rse.pik-potsdam.de/data/remind/public" = NULL),
                           getOption("remind_repos"))

#### Folder run statistics should be submitted to
cfg$runstatistics <- "/p/projects/rd3mod/models/statistics/remind"

#### Folders and file paths used for climate-assessment/MAGICC7 integration & reporting
cfg$climate_assessment_root        <- "/p/projects/rd3mod/python/climate-assessment/src/"
cfg$climate_assessment_infiller_db <- "/p/projects/rd3mod/climate-assessment-files/1652361598937-ar6_emissions_vetted_infillerdatabase_10.5281-zenodo.6390768.csv"
cfg$climate_assessment_magicc_bin  <- "/p/projects/rd3mod/climate-assessment-files/magicc-v7.5.3/bin/magicc"
cfg$climate_assessment_archive     <- FALSE
cfg$climate_assessment_magicc_prob_file_iteration <- "/p/projects/rd3mod/climate-assessment-files/parsets/RCP20_50.json"
cfg$climate_assessment_magicc_prob_file_reporting <- "/p/projects/rd3mod/climate-assessment-files/parsets/0fd0f62-derived-metrics-id-f023edb-drawnset.json"

#### Output folder of the modeltests generated by running config/scenario_config_AMT.csv
# start.R searches in this folder for finished runs to be used as path_gdx...
cfg$modeltests_folder <- "/p/projects/remind/modeltests/remind/output"

#### name of the overall model (used for input data and run statistics)
# should usually not be changed
cfg$model_name <- "REMIND"

#### name of the validation folder for this model (used for historical and validation data)
# should usually not be changed
cfg$validationmodel_name <- "VALIDATIONREMIND"

#### model version of the overall model (used for run statistics only).
# automatically generated for development and release versions
cfg$model_version <- "3.5.1.dev79"

#### settings ####
cfg$gms <- list()

# ***------------------------------------------------------------------------------
# ***                           MODULES                   START
# ***------------------------------------------------------------------------------

######### moved to main.gms #########

# ***------------------------------------------------------------------------------
# ***                           MODULES                   END
# ***------------------------------------------------------------------------------

#-----------------------------------------------------------------------------
#                          SWITCHES/FLAGS
#-----------------------------------------------------------------------------

######### moved to main.gms #########

#### Other settings (e.g. clustering, gdx files, ...): ####

# Choose which GAMS version to use (choosing the default option "gams" uses the GAMS system in your PATH variable - in both UNIX and Windows)
# Cluster Example: if you want GAMS version 24.0, use "/p/system/packages/gams/24.0.1/gams"
# Local machine Example: use your GAMS path, e.g. "C:\\GAMS\\win32\\24.3\\gams.exe" (please note the double backslashes)
cfg$gamsv <- "gams" # def = gams

# Action that should be performed ("ce": compile and run, "c": compile)
cfg$action <- "ce"   #def <- ce

# Provide additional SLURM parameters (e.g. "--time=03:30:00") not included in
# the list of following parameters that are set automatically in start.R:
# --qos, --nodes, --tasks-per-node, -job-name, --output, --mail-type, --comment.
cfg$slurmConfig <- ""

# Enable Python integration to interface with specialized, Python-based simulation models
# Python/reticulate support is enabled per default in REMIND. If you want to disable it, set the following variable to "off".
cfg$pythonEnabled <- "on"  
# Examples:
# "/p/projects/rd3mod/python/environments/scm_magicc7_hpc/" -> Recommended for users of PIK computing infrastructure
# "~/.conda/envs/<environment name>" -> Recommended for users outside of PIK: Use a dedicated conda (= virtual Python) environment in your home directory
# "" -> Empty string: Will use the system Python on typical Linux systems (this is discouraged)
cfg$pythonPath <- "/p/projects/rd3mod/python/environments/scm_magicc7_hpc/"
cfg$ignorePythonRequirements <- "false"

# Should REMIND output be shown in console? (0:no, 2:logfile, 3:yes)
cfg$logoption <- 2

# List the name of output scripts from ./scripts/output/ to be used by output.R
# You can adjust that via an 'output' column in your scenario_config.
# To overwrite, enter 'reporting,whatever'. To add, enter 'cfg$output,additionalreporting'.
cfg$output <- c("reporting","reportCEScalib","MAGICC7_AR6","fixOnRef","rds_report","checkProjectSummations")

# automatically fix remaining differences between run and path_ref
cfg$fixOnRefAuto <- FALSE

# Set the format for the results folder, type string :date: in order to use the current time stamp in the folder name (e.g. "results:date:") use :title: to use the current title in the folder name
cfg$results_folder <- "output/:title::date:"

# Which files should be copied into the output folder?
cfg$files2export <- list()
# Files that should be copied before REMIND is started
cfg$files2export$start <- c("config/conopt3.opt",
                            "config/conopt3.op2",
                            "config/conopt3.op3",
                            "config/conopt3.op4",
                            "config/conopt3.op6",
                            "config/conopt3.op9",
                            "core/input/historical/historical.mif",
                            "core/input/reporting",
                            "scripts/input/exoGAINSAirpollutants.R",
                            "scripts/input/climateAssessmentInterimRun.R",
                            "scripts/input/climateAssessmentImpulseResponse.R",
                            "scripts/input/run_KotzWenz_damages.R",
                            ".Rprofile",
                            "config/mappingEDGEtoREMINDsectors.csv", # To do: Is this still needed?
                            "modules/11_aerosols/exoGAINS/input/ef_gains.cs4r",
                            "modules/11_aerosols/exoGAINS/input/emi_gains.cs4r",
                            "modules/11_aerosols/exoGAINS/input/mappingGAINSmixedtoREMIND17activities.csv",
                            "modules/11_aerosols/exoGAINS/input/mappingGAINStoREMINDsectors.csv",
                            "modules/29_CES_parameters/calibrate/input/f29_trpdemand.cs4r")

# Files that should be copied after the REMIND run is finished
cfg$files2export$end <- NULL

# placeholder for storing information on subsequent runs that need input from this run
cfg$RunsUsingTHISgdxAsInput <- character(0)
